/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

/* Navigation grid */
.footer {
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: #ffffff;
  background-image: url("https://cdn.glitch.global/2d1e38f9-36b7-49d8-96c4-b4f0fd616510/background.png?v=1648007225918");
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  padding: 0% 1vh 50px 1vh;
  text-align: center;
  justify-content: center;
}

.row {
  width: 100%;
}

.column {
  float: left;
  width: 40%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
  line-height: 25px;
}

.column a {
  background-image: linear-gradient(#e9f4e8, #9fc6ff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .column,
  .row,
  .column1 {
    display: block;
  }
}

.column1 {
  float: right;
  width: 60%;
  padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800ff;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}



/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  width: 130px;
  height: auto;
  padding: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: transparent;
  border: 1px solid #000;
  padding: 12px 20px;
  border-radius: 35px;
  transition: 0.3s;
  color: #000;
}

button:hover {
  cursor: pointer;
  color: rgb(178, 142, 236);
  border: 1px solid rgb(178, 142, 236);
  box-shadow: 0px 0px 0px 5px rgba(178, 142, 236, 0.37),
    0px 0px 0px 10px rgba(178, 142, 236, 0.38);
  transition: 0.3s;
}

#gameButtonArea {
  margin-top: 20%;
  display: grid;
  column-gap: 5%;
  row-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  width: 85%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

#gameButtonArea > button {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #000;
  background-color: inherit;
  font-size: 1rem;
  line-height: 1.4;
  box-sizing: border-box;
  border: 0;
  box-shadow: 0 1px 2px 1px #000, inset 0 1px 1px 0 #666;
  cursor: pointer;
  outline: none;
  user-select: none;
  position: relative;
  font-family: "Quicksand", sans-serif;
}
#gameButtonArea > button svg {
  vertical-align: middle;
}
#gameButtonArea > button:active {
  box-shadow: inset 0 1px 2px 0 #000, 0 1px 1px 0 #666;
  color: white;
}
#gameButtonArea > button.text {
  font-size: 0.8rem;
}

#bubble {
  font-family: HK Grotesk;
  font-size: 30px;
}

#pattern {
  font-family: HK Grotesk;
  color: #000;
  font-size: 20px;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 0;
}

h1 {
  font-family: HK Grotesk;
  color: #000;
}

/* Subheading */
h2 {
  color: #2800ff;
}



/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

.hidden {
  display: none;
}

#button1 {
  background: none;
}

#button1:active,
#button1.lit {
  background: lightgreen;
  cursor: grab;
}

#button2 {
  background: none;
}

#button2:active,
#button2.lit {
  background: lightblue;
  cursor: grab;
}

#button3 {
  background: none;
}

#button3:active,
#button3.lit {
  background: pink;
  cursor: grab;
}

#button4 {
  background: none;
}

#button4:active,
#button4.lit {
  background: yellow;
  cursor: grab;
}

#button5 {
  background: none;
}

#button5:active,
#button5.lit {
  background: #cbc3e3;
  cursor: grab;
}

#button6 {
  background: none;
}

#button6:active,
#button6.lit {
  background: #f9afaf;
  cursor: grab;
}

#button7 {
  background: none;
}

#button7:active,
#button7.lit {
  background: #49a39b;
  cursor: grab;
}

#button8 {
  background: none;
}

#button8:active,
#button8.lit {
  background: #dee0dd;
  cursor: grab;
}

#button9 {
  background: none;
}

#button9:active,
#button9.lit {
  background: #b2e7ae;
  cursor: grab;
}

#button10 {
  background: none;
}

#button10:active,
#button10.lit {
  background: #e7daae;
  cursor: grab;
}

#button0 {
  background: none;
}

#button0:active,
#button0.lit {
  background: #aeb9e7;
  cursor: grab;
}

#button12 {
  background: none;
}

#button12:active,
#button12.lit {
  background: #aee7e7;
  cursor: grab;
}

.macintosh {
  width: 40vh;
  height: 66.7vh;
  /*margin: 125px auto; */
  margin: 0;
  margin-top:-3%;
}

.macintosh:active {
  transform: translateY(5px);
}

.monitor {
  z-index: 2;
  width: 100%;
  height: 580px;
  border-radius: 35px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
} /* 90 */

/*/ 30 */

.screen {
  /* where the numbers are */
  width: 85%;
  height: 105px;
  background-color: none;
  background-image: radial-gradient(transparent, #cfd7d8);
  margin: auto;
  margin-top: 8%;
  margin-left: 0;
  margin-right: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* new messages */
#dock-container {
  position: fixed;
  bottom: 2%;
  text-align: left;
  left: 0;
  width: 10%;
  cursor: help;
  justify-content:center;
  text-align:center;

}
#dock-container li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
#dock-container li img {
  width: 64px;
  height: 64px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
  margin-bottom: 2em;
}
#dock-container li:hover img {
  -webkit-transform: scale(2);
  margin: 0 2em;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
  -webkit-transform: scale(1.5);
  margin: 0 1.5em;
}
#dock-container li span {
  display: none;
  position: absolute;
  bottom: 140px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 4px 0;
  border-radius: 12px;
  text-align: center;
}
#dock-container li:hover span {
  display: block;
  color: #fff;
}

/* Very light scaling for our illustration */
.imagepic {
  margin-top: var(--image-margin);
}

/* Interactive image */
.imagepic:active {
  transform: translateY(5px);
}


.titlebar {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #ebebeb, color-stop(1, #d5d5d5))
  );
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: absolute;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
  text-decoration: none;
  line-height: 9px;
  vertical-align: 50%;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  line-height: 9px;
  vertical-align: 50%;
}

.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
  text-decoration: none;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  line-height: 9px;
  vertical-align: 50%;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  line-height: 9px;
  vertical-align: 50%;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.tabcontent {
  padding: 10% 10% 5% 10%;
  font-size: 13px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}

/* window END */

/* content BEGIN 

h3 {
  margin-top: 0px;
}

/* content END */

.popup {
  position: fixed;
  margin: auto;
  margin-top: 12.5vh;
  width: 50%;
  transform: translate(-50%, -70%);
  left: 50%;
  top: 50%;
  background: #ffffff;
  z-index: 1;
  border: 1px solid #acacac;
  border-radius: 6px;
  box-shadow: 0px 0px 20px #acacac;
  text-align:center;
}
