/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: var(--color-primary);
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: #ffffff;
  background-image:url("https://cdn.glitch.global/2d1e38f9-36b7-49d8-96c4-b4f0fd616510/background.png?v=1648007225918");
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  padding: 50px 10% 50px 10%;
  text-align: center;
}


.row{
  width: 100%;
}

.column {
  float: left;
  width: 40%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */
  line-height: 25px;
}


.column a{
  background-image: linear-gradient(#E9F4E8, #9FC6FF);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .column, .row, .column1{
    display: block;
  }
}



.column1 {
  float: right;
  width: 60%;
  padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}


/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.imagepic{
  width: 50%;
  margin-top: var(--image-margin);
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  transition: 500ms;
  padding: 10px;
  width:100px;
  height:40px;
  border-radius: 20px;
}

#gameButtonArea{
  margin-left:15px;
  margin-top:185px;
  display: grid;
  column-gap: 2px;
  row-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
    width: 18rem;
    height: 375px;
    padding: 2px 2px 2px 2.25px;
}


#gameButtonArea > button{
	height:5rem;
	width:5rem;
	border-radius:100rem;
	color:#FFF;
	background-color:inherit;
	margin:.25rem;
	font-size:1rem;
	line-height:1.4;
	box-sizing:border-box;
	border:0;
	box-shadow:0 1px 2px 1px #000, inset 0 1px 1px 0 #666;
	cursor:pointer;
	outline:none;
	user-select:none;
	position:relative;
	font-family:'Quicksand', sans-serif;
}
#gameButtonArea > button svg {
	vertical-align:middle;
}
#gameButtonArea > button:active {
	box-shadow:inset 0 1px 2px 0 #000, 0 1px 1px 0 #666;
}
#gameButtonArea > button.text {
	font-size:.8rem;
}

#bubble{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;
  text-transform: uppercase;
}

#pattern{
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: right;
  padding-right: 15px;
  padding-top: -425px;
}

h1{
  font-family: 'Red Hat Mono', monospace;
  color: #E88C95;
}

/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.imagepic:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button1:active, #button1.lit {
    background:green;
  cursor: grab;
}


#button2 {
    background: lightblue;
}

#button2:active, #button2.lit{
    background:blue;
  cursor: grab;
}

#button3 {
    background: pink;
}

#button3:active, #button3.lit{
    background:red;
  cursor: grab;
}

#button4 {
    background: lightyellow;
}

#button4:active, #button4.lit{
    background:yellow;
  cursor: grab;
}

#button5 {
    background: #CBC3E3;
}

#button5:active, #button5.lit{
    background: #301934;
  cursor: grab;
}

#button6 {
    background: #F9AFAF;
}

#button6:active, #button6.lit{
    background: #E34646;
  cursor: grab;
}

#button7 {
    background: #49A39B;
}

#button7:active, #button7.lit{
    background: #274F4B;
  cursor: grab;
}

#button8 {
    background: #DEE0DD;
}

#button8:active, #button8.lit{
    background: #969696;
  cursor: grab;
}

#button9 {
    background: #DEE0DD;
}

#button9:active, #button9.lit{
    background: #969696;
  cursor: grab;
}

#button10 {
    background: #DEE0DD;
}

#button10:active, #button10.lit{
    background: #969696;
  cursor: grab;
}

#button0 {
    background: #DEE0DD;
}

#button0:active, #button0.lit{
  background: #969696;
  cursor: grab;
}

#button12:active, #button12.lit{
    background: #969696;
  cursor: grab;
}


.macintosh {
  display: block;
  width: 340px;
  height: 475px;
  /*margin: 125px auto; */
  margin-bottom: 300px;
  margin-left: 130px;
  position: relative;
  box-shadow: 0 80px 60px -60px rgba(0,0,0,0.4);
}

.macintosh:active{
  transform: translateY(5px);
}

.monitor {
  z-index: 2;
  display: block;
  width: 100%;
  height: 710px;
  border-radius: 15px;
  background-color: #DDDBC2;
  position: absolute;
  background-image: lineear-gradient(
    #DDDBC2, #DFDAC4
  );
  background-image: conic-gradient(
    #DDDBC2 0 10.5%, #ECECD5 11% 11.5%, #CECDAF 12% 38%, #C8C4A7 39% 61.5%, #C7C3A6 62% 88%, #DFDAC4 88.5% 89%, #DDDBC2 89.25%
  ); /* Not supported everywhere :( */
  box-shadow: 0 60px 20px -20px rgba(142,137,97,0.5);
} /* 90 */

.monitor-inner {
  display: block;
  width: 320px;
  height: 660px;
  background-image: linear-gradient(#CAC6A9, #CFCEB0);
  margin: auto;
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.screen-cutout {
  display: block;
  width: 280px;
  height: 135px;
  background-color: #DDDBC2;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  border-radius: 5px;
  background-image: linear-gradient(
    #938F6A, #E0DFC3
  ); 
  background-image: conic-gradient(
    #938F6A 12.5%, #B5B293 15.5% 33%, #E0DFC3 34% 65.5%, #C2C1A2 66.5% 83.5%, #938F6A 86.5%
  ); 
}

/*/ 30 */

.screen {
  display: block;
  width: 260px;
  height: 105px;
  background-color: #4F5555;
  background-image: radial-gradient(#525B5A, #50585A);
  margin: auto;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  border-radius: 20px;
  box-shadow: 0 0 20px 10px #2B3030 inset;
}

.logo {
  display: block;
  width: auto;
  height: 22px;
  background-image: radial-gradient(#C9C6B5, #CBC9BA);
  border-radius: 2px;
  position: absolute;
  left: 22px;
  bottom: 22px;
  padding-left: 3.5px;
  font-size: 11px;
  box-shadow: 0 0 2px 0px #979181 inset;
}

.logo p {
  text-align: center;
  margin-top: 0px;
  padding: 1px;
}

.opening {
  display: block;
  width: 155px;
  height: 15px;
  background-image: linear-gradient(
    #BEBB9C, #CAC8A7 74.5% 75.5%);
  background-image: conic-gradient(
    #BEBB9C 0% 23.5%, #C7C2A2 24.5% 25%, #DCD8BD 26% 73.5%, #CAC8A7 74.5% 75.5%, #BEBB9C 76.5%);
  position: absolute;
  bottom: 55px;
  right: 21px;
  border-radius: 4px;
}

.opening-inner {
  display: block;
  width: 126px;
  height: 8px;
  background-color: #181914;
  border-radius: 2px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5px;
}

.foot {
  display: block;
  width: 100%;
  height: 85px;
  position: absolute;
  
  bottom: 100px;
  margin-bottom: 100px;
  left: 0;
  z-index: 1;
  border-radius: 7px;
  background-image: linear-gradient(#BBB497, #C1BE9F);
  box-shadow: 14px 0 3px -7px #CCCAB1 inset,
    -14px 0 3px -7px #CECDB1 inset,
    0 32px 3px -7px #C1BE9F inset,
    0 -6px 3px -4px #AEAA87 inset; 
}

.inset {
  display: inline;
  width: 16px;
  height: 16px;
  background-color: #C3BEA0;
  position: absolute;
  bottom: 20px;
  left: 35px;
  border-radius: 2px;
  box-shadow: 0 0 2px #C9C3A3 inset,
    0 0px 2px 1px #BCB694;
}

.cable-container {
  display: block;
  width: 60px;
  height: 30px;
  background-color: #C3BEA0;
  position: absolute;
  right: 30px;
  bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 2px 1px -1px #D0CBAE inset,
    4px 0 1px -1px #BAB492 inset,
    -5px 0 2px -2px #A8A281 inset,
    0 -4px 2px -3px #ADA88B inset;;
}

.cable-hole {
  display: block;
  width: 18px;
  height: 20px;
  background-color: #848580;
  position: absolute;
  top: 5px;
  right: 7px;
  border-radius: 3px;
  box-shadow: 0 -4px 0.5px -0.5px rgba(25,25,25,0.2) inset,
    -2px 0 0.5px -0.5px rgba(25,25,25,0.2) inset,
    2px 0 0.5px -0.5px rgba(25,25,25,0.2) inset;
  background-image: linear-gradient(
    #848580 20%,
    transparent 20% 80%,
    #848580 80%
  ), linear-gradient(
    90deg,
    transparent 30%,
    #181914 30% 70%,
    transparent 70%
  );
}